Options -Indexes

# Created by http://htaccess.xnet.tk/
# Wed, 20 June 2012
<IfModule mod_rewrite.c>

# Enable Rewrite Engine
RewriteEngine On
RewriteBase /

# Redirect Domains (Permanent)
RewriteCond %{HTTP_HOST} ^htaccessbuilder\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.htaccessbuilder\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.htaccessbuilder\.com$
RewriteRule ^(.*)$ http\://htaccessbuilder\.com/$1 [R=301,L]

RewriteRule ^rules/([\w]+)/?$ recall.php?id=$1

RewriteCond %{HTTP_HOST} ^dev\.htaccessbuilder\.com$
RewriteCond %{REMOTE_ADDR} !=109.224.133.59
RewriteRule .* - [F]

</IfModule>